.title{
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.main{
    background-color: #00A858;
    color: aliceblue;
    padding: 4px;
    
}
.logosParceiros{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 8px;
    gap: 43px;
    width: 100%;
    height: auto;
}
.logosParceiros img{
    width: 5rem;
    height: auto;
    border-radius: 8px;
    box-shadow: rgb(2, 76, 36) 4px 5px;
}