.mainWork {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 110dvh;
    min-width: 100%;
    padding: 5% 10%; 
    gap: 2rem;
    background-size: cover;
    background-position: auto;
    background-repeat: no-repeat;
    background-image: url(../../assets/images/bgWorkshop.svg);
}



.mainWork .title {
    color: var(--black);
}

.card1, .card2 {
    border-top-right-radius: 1rem;
    border-top-left-radius: 1rem;
    height: auto;
    max-width: 25%;
    padding: 10px;
}

.card1 img, .card2 img {
    border-radius: 8px 8px;
    max-height: 60%;
}

.descWork {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: auto;
    background-color: var(--gray);
    border-radius: 0 0 8px 8px;
    padding: 16px;
}

.oficinas {
    display: flex;
    justify-content: center;
    gap: 20px;
}

/* MOBILE */
@media (max-width: 768px) {
    .mainWork {
        padding: 10px; 
    }

    .oficinas {
        flex-direction: column;
        align-items: center;
    }
    .descWork p{
        text-align: left;
        width: 100%;
        font-size: 12px;
    }
    .card1, .card2 {
        min-width: 100%;
    }
} 
