@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");

/* RESPONSIVE FOR MOBILE */
/* Define as variáveis de cor, família da fonte e tamanhos de fonte para dispositivos móveis */
:root {
    /* COLORS */
    --red: #cd191e;
    --green: #00a858;
    --white: #fff;
    --black: #000;
    --gray: #ddd;

    /* FONT FAMILY */
    --body-font: "Montserrat", Helvetica, sans-serif;

    /* FONT SIZE*/
    --h1-font-size: 3rem;
    /* Equivalente a ~32px */
    --h2-font-size: 1.5rem;
    /* Equivalente a ~24px */
    --h3-font-size: 1.25rem;
    /* Equivalente a ~20px */
    --h4-font-size: 1.125rem;
    /* Equivalente a ~18px */
    --font-size-normal: 1rem;
    /* Equivalente a ~16px */

    /* FONT WEIGHT */
    --font-normal: 300;
    --font-medium: 500;
    --font-bold: 700;
}

/* Define o estilo padrão para todos os elementos HTML */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    overflow-x: hidden;
    font-family: var(--body-font);
}

/* Estilo geral para o HTML e o corpo */
html,
body {
    scroll-behavior: smooth;
    background-color: var(--white);
    font-size: var(--font-size-normal);
}

/* Estilo para a seleção de texto */
::selection {
    background-color: var(--green);
    color: var(--white);
}

/* Estilos específicos para cada nível de cabeçalho */
h1 {
    font-size: var(--h1-font-size);
    font-weight: var(--font-bold);
}

h2 {
    font-size: var(--h2-font-size);
    font-weight: var(--font-bold);
}

h3 {
    font-size: var(--h3-font-size);
    font-weight: var(--font-medium);
}

h4 {
    font-size: var(--h4-font-size);
    font-weight: var(--font-medium);
}

a {
    color: var();
}

/* Estilo para imagens */
img {
    height: auto;
    max-width: 100%;
    cursor: pointer;
}

/* Estilo para botões */
button {
    border: none;
    border-radius: .5rem;
    padding: 1rem 2rem;
    color: var(--white);
    background-color: var(--red);
}

button:hover {
    cursor: pointer;
    opacity: .8;
}

/* RESPONSIVE FOR TABLET AND DESKTOP */
/* Define tamanhos de fonte diferentes com base na largura da tela para tablets e desktops */
@media screen and (min-width: 768px) {
    :root {
        --h1-font-size: 3rem;
        /* Equivalente a ~48px */
        --h2-font-size: 2.25rem;
        /* Equivalente a ~36px */
        --h3-font-size: 1.8rem;
        /* Equivalente a ~29px */
        --h4-font-size: 1.15rem;
        /* Equivalente a ~18px */
        --normal-font-size: 1rem;
        /* Equivalente a ~16px */
        --small-font-size: .8rem;
        /* Equivalente a ~13px */
    }
}

@media screen and (min-width: 1024px) {
    :root {
        --h1-font-size: 3.25rem;
        /* Equivalente a ~52px */
        --h2-font-size: 2.5rem;
        /* Equivalente a ~40px */
        --h3-font-size: 1.8rem;
        /* Equivalente a ~29px */
        --h4-font-size: 1.25rem;
        /* Equivalente a ~20px */
        --normal-font-size: 1rem;
        /* Equivalente a ~16px */
        --small-font-size: .8rem;
        /* Equivalente a ~13px */
    }
}

@media screen and (min-width: 1440px) {
    :root {
        --h1-font-size: 4.5rem;
        /* Equivalente a ~72px */
        --h2-font-size: 3rem;
        /* Equivalente a ~48px */
        --h3-font-size: 1.8rem;
        /* Equivalente a ~29px */
        --h4-font-size: 1.25rem;
        /* Equivalente a ~20px */
        --normal-font-size: 1.2rem;
        /* Equivalente a ~19px */
        --small-font-size: 1.1rem;
        /* Equivalente a ~18px */
    }
}

/* Explicação do conceito de "first mobile":
   Esse aquirvo CSS foi pensado para ser usado em um modelo de design que prioriza a experiência do usuário em dispositivos móveis, 
   como smartphones. A abordagem "first mobile" considera que a maioria dos usuários acessa inicialmente sites por meio de 
   dispositivos móveis. Assim, o design inicial é otimizado para esses dispositivos, levando em conta suas restrições de 
   tela e interação do usuário. Em seguida, o design é escalado e adaptado para dispositivos maiores, como tablets e desktops, 
   garantindo uma experiência consistente em todas as plataformas. 
   */